.pulse-hover:hover {
    animation: pulse 1s ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        background-color: rgb(10, 58, 113);
        border-radius: 100%;
        padding: 10px;
        margin: -10px;
    }

    100% {
        transform: scale(1);
    }
}